* {
	margin: 0;
	padding: 0;
}
body {
	background: url('../img/headernav_bg.png');
	width: 100%;
	font-family: Georgia;
	color: #8B4726;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #8B4726;
}
header {
	width: 1000px;
	height: 100px;
}
header > h1 {
	font-size: 40px;
	color: #8B4726;
	margin-left: 150px;
	padding-top: 30px;
	text-shadow: 1px 1px 0 #F5F5DC, -1px -1px 0 #F5F5DC, 1px -1px 0 #F5F5DC, -1px 1px 0 #F5F5DC, 2px 2px 5px #F5F5DC;
}
.logo {
	width: 50px;
	height: 40px;
	float: left;
	padding-right: 20px;
}
nav {
	width: 150px;
	float: left;
	text-shadow: 1px 1px 0 #F5F5DC, -1px -1px 0 #F5F5DC, 1px -1px 0 #F5F5DC, -1px 1px 0 #F5F5DC, 2px 2px 5px #F5F5DC;
	text-align: center;
}
nav > ul > li {
	list-style: none;
	border-bottom: 2px solid #8B4726;
	border-top: 2px solid #8B4726;
	margin: 20px 0px 15px 15px;
	padding: 5px;
}
nav > ul > li > a {
	display: block;
}
nav > ul > li:hover {
	background: #8B4726;
}
nav > ul > li:hover > a {
	text-align: right;
	margin-right: 10px;
}
section {
	float: left;
	background: url('../img/content_bg.png');
	position: absolute;
	left: 150px;
	right: 0px;
	top: 100px;
	bottom: 0px;
	padding-top: 20px;
	padding-left: 50px;
}
section > h2 {
	border-bottom: 1px solid #8B4726;
	margin-bottom: 30px;
}

section > form {
	width: 300px;
	border: none;
}
section > form > label {
	display: block;
	text-align: right;
	margin-bottom: 10px;
}
section > form > label > input[type='text'] {
	background: none;
	border: 1px solid #8B4726;
	border-radius: 5px;
	margin-left: 10px;
	padding: 2px 10px;
}
input[type='submit'],
button {
	background: #8B4726;
	color: #8B4726;
	font-weight: bold;
	text-shadow: 1px 1px 0 #F5F5DC, -1px -1px 0 #F5F5DC, 1px -1px 0 #F5F5DC, -1px 1px 0 #F5F5DC, 2px 2px 5px #F5F5DC;
	border-radius: 5px;
	border: 1px solid #8B4726;
	padding: 2px 10px;
	margin-right:5px;
}

.button {
	margin-top: 20px;
	margin-left: 235px;
	margin-bottom: 30px;
}
input[type='submit']:hover,
button:hover {
	background: none;
	cursor: pointer;
}
section > form > label > span {
	position: absolute;
	left: 370px;
	color: red;
}
table {
	text-align: center;
	border-spacing: 0;
	width: 1000px;
}
table > thead {
	background: #8B4726;
	color: #8B4726;
	text-shadow: 1px 1px 0 #F5F5DC, -1px -1px 0 #F5F5DC, 1px -1px 0 #F5F5DC, -1px 1px 0 #F5F5DC, 2px 2px 5px #F5F5DC;
	
}
table td {
	padding:5px 0px;
}
form > button{
	margin-bottom: 30px;
}
.error{
	color:#FF0000;
}
